* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
}

.body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(assets/ChatGPT\ Image\ May\ 23\,\ 2025\,\ 05_30_57\ PM-min.png) no-repeat center center / cover;
    filter: blur(4px);
    z-index: -1;
    transform: scale(1.02);
}

.bodydark::before {
    background: url(assets/ChatGPT\ Image\ May\ 24\,\ 2025\,\ 12_23_00\ PM-min.png) no-repeat center center / cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.logo {
    margin: 30px;
    font-weight: 600;
    font-size: 24px;
    color: #20C997;
    text-decoration: underline;
}

.mode {
    position: relative;
}

.mode img {
    width: 60px;
}

.ball {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    top: 20px;
    left: 5px;
    transition: transform 0.5s ease;
}

.rolled {
    transform: translateX(29px);
}

.mainUI {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    position: relative;
    z-index: 1;
    height: 25vh;
    padding-top: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box input {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid black;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 0px;
    color: rgba(79, 76, 76, 0.826);
    padding-left: 10px;
    outline: none;
}

.boxdark input {
    border: 1px solid white;
    color: rgba(206, 206, 206, 0.886);
}

.citytext::placeholder {
    color: rgba(79, 76, 76, 0.826);
}

.darkcitytext::placeholder {
    color: rgba(206, 206, 206, 0.886);
}

.box img {
    height: 30px;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    margin-left: 262px;
    margin-bottom: 0px;
    transition: all 0.1s ease;

}

.box img:hover {
    transform: scale(1.1);
}

.prevsearch {
    height: 40px;
    max-width: 50vw;
    background: rgba(121, 121, 121, 0.086);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0px 25px;
    border-radius: 5px;
    color: rgba(79, 76, 76, 0.826);
}

.search {
    font-size: 13px;
    transition: all 0.2s ease;
    box-sizing: border-box;
    margin: 2px;
}

.darkprevsearch {
    color: rgba(206, 206, 206, 0.886);
}

.search:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.content {
    visibility: hidden;
    max-width: 80vw;
    max-height: 70vh;
    background: rgba(121, 121, 121, 0.086);
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 30px;
}

.contentdark {
    color: #FFFFFF;
}

.content img {
    height: 50px;
}

.content p {
    margin-top: 10px;
}

.content>* {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* responsiveness */

@media screen and (max-width: 800px) {
    .content {
        max-width: 90vw;
    }

    .content img {
        height: 40px;
    }

    .content>* {
        width: 250px;
        font-size: 12px;
    }

    .header {
        padding: 0px 34px;
    }

    .mode img {
        width: 50px;
    }

    .ball {
        width: 17px;
        height: 17px;
        top: 16px;
        left: 6px;
    }

    .rolled {
        transform: translateX(23px);
    }

    .box {
        padding-top: 0px;
    }

    .prevsearch {
        max-width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .content {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .content>* {
        width: 150px;
    }

    .box input {
        font-size: 15px;
        height: 30px;
        width: 250px;
    }

    .box img {
        height: 30px;
    }

    .box img {
        margin-left: 217px;
    }

    .search {
        font-size: 10px;
    }

    .prevsearch {
        height: 35px;
        max-width: 80vw;
        gap: 15px;
    }

    .logo {
        margin: 20px 0px 0px 0px;
        font-weight: 600;
        font-size: 22px;

    }

    .mode img {
        margin-top: 30px;
    }

    .ball {
        top: 46px;
        left: 5px;
    }

    @media screen and (max-width: 400px) {
        .content {
            flex-wrap: wrap;
            row-gap: 10px;
        }

        .content>* {
            width: 110px;
        }

        .prevsearch {
            height: 35px;
            max-width: 90vw;
            gap: 10px;
        }

        .ball {
            top: 46px;
        }
    }
}